---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import SimpleCatCard from "@/components/SimpleCatCard.astro";
import RegisterForm from "@/components/RegisterForm.astro";
import AuthLink from "@/components/AuthLink.svelte";
import { BACK_END_URL } from "astro:env/client";
import CartDisplay from "@/components/CartDisplay.svelte";
import AccountLink from "@/components/AccountLink.astro";
const activeCat = await getCollection('categories', ({data}) => data.active === true);
activeCat.sort((a, b) => a.data.name.localeCompare(b.data.name));
activeCat.sort((a, b) => b.data.order - a.data.order);

export const prerender = true;
---

<Layout title="Categorias">
	<!-- Elemento Carrito -->
	 <CartDisplay transition:name="CartDisplay" transition:persist client:load/>
	 <AccountLink server:defer>
		<a slot="fallback" class="auth-link" href="/">Loading...</a>
		</AccountLink>
	 <!-- <AuthLink client:load/> -->
	<!-- <RegisterForm /> -->
	<!-- <a href=`${BACK_END_URL}/api/connect/google`> -->
		<!-- Sign-in with Google -->
	<!-- </a> -->
	{activeCat.map(({data}) =>  
		<SimpleCatCard  name={data.name} description={data.description} slug={data.slug} view="archive"/>
	)}
</Layout>

<style>
  .auth-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #4a5568;
    color: white;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }

  .auth-link:hover {
    background-color: #2d3748;
  }
</style>