---
import { actions } from "astro:actions";
import  Boton  from "@/components/Boton.svelte";
interface Props {
  text: string;
  id: string;
  variant?: "primary" | "secondary";
  className?: string;
}

const {text, id , variant = "primary", className =""} = Astro.props;

const variantClasses = {
  primary: "transparent text-gray-200 hover:bg-gray-200 hover:text-slate-600",
  secondary: "bg-gray-200 text-gray-800 hover:bg-gray-300"
};

const baseClasses = "overflow-hidden inline-block w-40 h-10 px-4 py-2 border-2 border-blue-400 transition-all duration-200 flex items-center justify-center relative group";
const {data, error} = await actions.checkStock(id);
const classes = `${baseClasses} ${variantClasses[variant]} ${!data ? "cursor-not-allowed" : ""} ${className}`;


---


<div  class={classes}>
  <span class="truncate"> 
    {data?  <Boton client:load id={id}> A単adir al Carrito </Boton> : "No Disponible"}
  </span>
</div>

<!-- (<Button client:load={true}> A単adir al Carrito </Button>) -->
<!-- 
<script>
  console.log("texto kjasjdklajdlas lkjasdlkasd");
  import { actions } from 'astro:actions';
  function addToCart() {
    console.log("add to cart");
    const buttons = document.querySelectorAll('[data-add-to-cart]');
    console.log("buttons", buttons);
  buttons.forEach(button => {
    button.addEventListener('click', async(e) => {
      e.preventDefault();
      console.log("button click");
      const productId = (button as HTMLElement).dataset.productId;
      if (productId) {
        console.log("productId", productId);
        const {data, error} = await actions.addToCart(productId);
        if (!error) data? alert("item a単adido "+productId) : alert("fallo a単adir item "+productId);
      }
    });
  });
  console.log("buttons after", buttons);
  }
  
  document.addEventListener('astro:after-swap', () => {
    console.log("after swap");
    addToCart()});
  document.addEventListener('astro:page-load', () => {
    console.log("page load");
    addToCart()});
  addToCart();

  // Seleccionamos todos los botones por clase
  
  
</script> -->