---
import ButtonFix from "@/components/ButtonFix.astro";
import { normalizePath } from "@/lib/utils";
import AddToCart from "./AddToCart.astro";
import Button from "@/components/Button.svelte";

interface Props {
  name: string;
  slug: string;
  description: string;
  price: number;
  stock: number;
  categories: string[];
  active: boolean;
  featured: boolean;
  view: "archive" | "hero";
}
const path = Astro.url.pathname;

const  {name, slug, description, price, stock, categories, active, featured, view} = Astro.props;

const viewType = {
  archive: "bg-slate-600 text-gray-200 border-blue-400 hover:bg-slate-700 hover:border-blue-500 hover:shadow-2xl hover:text-white" ,
  hero: "bg-slate-700 border-blue-500 shadow-2xl text-white"
}

const classes = viewType[view];

export const prerender = true

---

<div transition:name={`prod-card-${slug}`} class={`${classes} overflow-hidden border-2 w-full space-y-4 py-4 px-6 rounded-lg flex flex-col items-center`}>
  <h1 class="font-bold text-2xl ">{name}</h1>
  <p class={view === "archive" ? "line-clamp-2" : "line-clamp-none"}>{description+". "+description}</p>
  {view === "archive" && 
    (<AddToCart server:defer text="Añadir al Carrito" id={slug}>
      <ButtonFix slot="fallback" text="Cargando" href="" disabled={true}/>
    </AddToCart>)}
    <Button client:load={true}> Saber Más </Button>
  {view === "archive" && <ButtonFix text="Saber Más" href={normalizePath(`${path}//producto/${slug}`)}/>}
</div>
<!-- 
<div transition:name={`prod-card-${path[2]}-${slug}`} class={`${bgColor} ${textColor} ${borderShadow} border-2 w-full  space-y-4 py-4 px-6 overflow-hidden relative rounded-lg`}>
  {!active &&<div class="absolute z-10 inset-0 bg-black/30 backdrop-blur-sm "/>}
  {active && featured && <div class="absolute -ml-7 -mt-5  bg-red-900/90 rounded-md px-4 pt-1 sm:ml-0 sm:mt-0 sm:pt-0 ">Top!</div>}
  
  <h1 class="font-bold text-2xl ">{name}</h1>
  <p class={`${lineClamp} text-wrap`}>{description+". "+description}</p>
  <div class="flex flex-row justify-between items-center">
    <div class="flex flex-col sm:flex-row gap-4">
    {categories.sort( (a, b) =>  a.localeCompare(b) ).map((cat) => 
      <div class="outline-dashed outline-1 py-0.5 px-1 relative text-sm text-gray-200 items-start">
        <a class="absolute inset-0" href={`/categoria/${cat}`}/> {cat}
      </div>)}
    </div>
    <p class="text-sm text-gray-200 ">Stock: {stock} Precio: {price.toLocaleString()} €</p>
  </div>
  {archiveView && 
  <div class="flex flex-col items-center justify-center sm:flex-row gap-3">
    {/* <a class="inline-block px-4 py-2 border-2 border-blue-400 hover:bg-gray-200 hover:text-slate-600 " href={path[2]+"/producto/"+slug}>{callToAction+" "+name}</a> */}
    {/* Coponente de añadir al carrito  */}
    {active &&<ButtonFixed server:defer href={slug} variant="primary" disabled={false} text="Añadir al Carrito" defer={true}>
      <ButtonFixed slot="fallback" href="" variant="primary" disabled={true} text="Cargando"/>
      {/* <a slot="fallback" class="relative border-2 border-blue-400 hover:bg-gray-200 hover:text-slate-600 px-4 py-2" href="#">
        {"    Cargando    "}
      </a> */}
    </ButtonAddToCart>}
    
    <ButtonFixed href={path[2]+"/producto/"+slug} variant="primary" disabled={false} text={`${callToAction} ${name}`}/>

    
  </div>
  }
</div> -->

<!-- <style>
  * {
    outline: orchid solid 1px;
    }
</style> -->